<div>
  <!-- Navbar -->
  <div class="h-12 w-full text-xl text-[#849bb1] shadow-md z-10 relative flex justify-between px-6">
    <div class="my-auto">
      <i class="fa-solid fa-chevron-left"></i>
    </div>

    <div class="my-auto text-black font-bold">
      iPhone
    </div>

    <div class="my-auto text-[#e74d4d]">
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>

  <!-- Main -->
  <div class="w-full px-6 py-4 bg-[#fcf8f7]">
    <app-cart *ngFor="let cart of listCart" [cart] = "cart"></app-cart>
  </div>
  <div class="w-full h-40 bg-[#fcf8f7]"></div>


  <!-- Pay -->
  <div class="bg-white w-full fixed font-bold bottom-0 shadow-inner">
    <div class="flex px-6 py-2">
      <i class="fa-solid fa-pencil text-sm mr-2 text-blue-600 my-auto"></i>
      <input type="text" placeholder="Ghi chú" class="outline-none text-sm">
    </div>

    <div class="px-6 flex justify-between bg-[#fbf1f0] font-bold py-2">
      <div>X sản phẩm</div>
      <div>Tạm tính: X.000.000đ</div>
    </div>

    <div class="px-6">
      <div class="text-center bg-red-600 text-white text-lg py-3 rounded-lg my-2">
        Thanh toán ngay
      </div>
    </div>
  </div>  
</div>