<div class="mx-auto w-[400px] bg-white rounded-lg mt-20 relative py-4 text-slate-600">
  <i class="fa-solid fa-xmark absolute right-4 text-2xl"></i>

  <h1 class="font-bold text-[36px] text-center text-black mt-6">Đăng nhập</h1>
  <div class="text-sm flex tex-sm w-fit mx-auto py-4">
    <h1>Nếu bạn chưa có tài khoản?</h1>
    <a href="" class="ml-1 text-[#785da8]">Tạo tài khoản mới</a>
  </div>

  <div class="px-4">
    <h1 class="py-1">Email</h1>
    <input type="text" placeholder="email" class="w-full border-2 border-slate-300 text-slate-300 text-sm py-2 px-1 rounded-sm">
  </div>

  <div class="px-4 mt-2">
    <h1 class="py-1">Mật khẩu</h1>
    <input type="text" placeholder="Mật khẩu" class="w-full border-2 border-slate-300 text-slate-300 text-sm py-2 px-1 rounded-sm">
  </div>

  <h1 class="text-sm text-black ml-4 mt-2">Quên mật khẩu?</h1>

  <div class="px-4 mt-8">
    <button class="w-full mx-auto bg-[#785da8] text-sm text-center text-white py-2 rounded-2xl">Đăng nhập</button>
  </div>

  <div class="px-4 flex my-6">
    <div class="px-4 h-[1px] w-full bg-slate-300 my-auto"></div>
    <h1 class="px-4 text-sm">hoặc</h1>
    <div class="px-4 h-[1px] w-full bg-slate-300 my-auto"></div>
  </div>

  <div class="flex">
    <div class="pr-2 pl-4 w-full ">
      <div class="w-full bg-[#3c5998] rounded-[24px] py-1 text-center text-xl">
        <i class="fa-brands fa-facebook text-white"></i>
      </div>
    </div>

    <div class="pr-4 pl-2 w-full">
      <div class="w-full border-2 rounded-[24px] py-1 border-slate-300 text-center text-[16px]">
        <i class="fa-brands fa-google"></i>
      </div>
    </div>

  </div>
</div>