<div>
  <!-- Navbar -->
  <div class="bg-white text-center shadow-md px-6 py-3 font-bold text-xl flex justify-between">
    <i class="fa-solid fa-chevron-left my-auto"></i>
    <h1 class="text-black">Địa chỉ</h1>
    <div></div>
  </div>

  <!-- Main -->
  <div class="min-h-screen">
    <div class="px-4 my-2 mt-4">
      <div class="relative flex border-[1px] border-blue-600 rounded-lg bg-white ">
        <!-- icon -->
        <div class="flex flex-col text-red-600 text-md px-2">
          <i class="fa-solid fa-user py-2"></i>
          <i class="fa-solid fa-phone py-2"></i>
          <i class="fa-solid fa-location-dot py-2"></i>
        </div>
  
        <!-- information -->
        <div class="text-sm max-w-[260px] text-black ml-1">
          <div class="flex py-[6px]">
            <h1>Nguyễn Văn A</h1>
            <h1 class="font-bold ml-2">MẶC ĐỊNH</h1>
          </div>
          <div class="py-[6px]">
            <h1>0912345678</h1>
          </div>
          <div class="py-[6px]">
            <h1>Đường A, Dãy B, Phường C, Quận D, Thành phố E</h1>
          </div>
        </div>
  
        <!-- last -->
        <div class="text-blue-600 font-bold absolute right-2 h-full text-md">
          <div class="mt-1">
            <h1>Chỉnh sửa</h1>
          </div>
  
          <div>
            <i class="fa-regular fa-circle absolute right-0 bottom-1 text-2xl"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 my-2">
      <div class="relative flex rounded-lg bg-white ">
        <!-- icon -->
        <div class="flex flex-col text-red-600 text-md px-2">
          <i class="fa-solid fa-user py-2"></i>
          <i class="fa-solid fa-phone py-2"></i>
          <i class="fa-solid fa-location-dot py-2"></i>
        </div>
  
        <!-- information -->
        <div class="text-sm max-w-[260px] text-black ml-1">
          <div class="flex py-[6px]">
            <h1>Nguyễn Văn A</h1>
            <h1 class="font-bold ml-2">MẶC ĐỊNH</h1>
          </div>
          <div class="py-[6px]">
            <h1>0912345678</h1>
          </div>
          <div class="py-[6px]">
            <h1>Đường A, Dãy B, Phường C, Quận D, Thành phố E</h1>
          </div>
        </div>
  
        <!-- last -->
        <div class="text-blue-600 font-bold absolute right-2 h-full text-md">
          <div class="mt-1">
            <h1>Chỉnh sửa</h1>
          </div>
  
          <div>
            <i class="fa-regular fa-square absolute right-0 bottom-1 text-2xl"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 my-2">
      <div class="relative flex rounded-lg bg-white ">
        <!-- icon -->
        <div class="flex flex-col text-red-600 text-md px-2">
          <i class="fa-solid fa-user py-2"></i>
          <i class="fa-solid fa-phone py-2"></i>
          <i class="fa-solid fa-location-dot py-2"></i>
        </div>
  
        <!-- information -->
        <div class="text-sm max-w-[260px] text-black ml-1">
          <div class="flex py-[6px]">
            <h1>Nguyễn Văn A</h1>
            <h1 class="font-bold ml-2">MẶC ĐỊNH</h1>
          </div>
          <div class="py-[6px]">
            <h1>0912345678</h1>
          </div>
          <div class="py-[6px]">
            <h1>Đường A, Dãy B, Phường C, Quận D, Thành phố E</h1>
          </div>
        </div>
  
        <!-- last -->
        <div class="text-blue-600 font-bold absolute right-2 h-full text-md">
          <div class="mt-1">
            <h1>Chỉnh sửa</h1>
          </div>
  
          <div>
            <i class="fa-regular fa-square absolute right-0 bottom-1 text-2xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="h-20 bg-[#ffffff] fixed bottom-0 w-full px-6">
    <div class="text-center bg-red-600 rounded-lg text-white w-full py-2 mt-3 ">Thêm địa chỉ</div>
  </div>
</div>