<div class="h-24 border-t-[1px] py-4 border-slate-300 flex relative">
  <div class="flex my-auto">
    <div class="w-16 my-auto">
      <img src={{product.img}} alt={{product.title}}>
    </div>

    <div class="flex flex-col justify-between ml-2">
      <h1 class="overflow-hidden nax-h-10 ">{{product.title}}</h1>
      <h1 class="font-bold">{{product.price}}</h1>
    </div>
  </div>

  <div class="text-red-500 absolute top-4 right-2">
    <i class="fa-solid fa-xmark"></i>
  </div>

  <div class="flex absolute bottom-4 right-2 text-xl text-blue-600 font-bold">
    <div class="pr-2 cursor-pointer">-</div>
    <div class="mx-2 text-black font-light">{{product.count}}</div>
    <div class="pl-2 cursor-pointer">+</div>
  </div>
</div>