<div>
  <!-- Navbar -->
  <div class="h-12 w-full text-xl text-[#849bb1] shadow-md z-10 relative flex justify-between px-6">
    <div class="my-auto">
      <i class="fa-solid fa-chevron-left"></i>
    </div>

    <div class="flex my-auto">
      <div class="mx-3 relative">
        <div class="indicator">
          <span class="indicator-item badge rounded-[50%] w-2 h-4 text-white bg-[#eb4d4f] border-white text-[6px]">1</span> 
          <i class="fa-sharp fa-solid fa-cart-shopping"></i>
        </div>
      </div>

      <div class="mx-3">
        <i class="fa-solid fa-heart text-[#eb4d4f]"></i>
      </div>

      <div class="ml-3">
        <i class="fa-solid fa-ellipsis-vertical "></i>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="bg-[#fcf8f7] px-6">
    <div class="py-6">
      <img class="mx-auto bg-cover object-center" src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
    </div>

    <div>
      <h1 class="font-bold">iPhone 14 Pro</h1>

      <div class="flex">
        <del class="text-red-600">10.000.000đ</del>
        <h1 class="font-bold ml-2 mr-4">10.000.000đ</h1>
        <h1>-60%</h1>
      </div>

      <h1 class="font-bold mt-4">Phiên bản</h1>
      <div class="flex my-2">
        <div class="py-2 px-4 min-w-[120px] text-center rounded-lg bg-[#f7d5d6] border-none text-[#ae565c] font-bold mr-4">Pro</div>
        <div class="py-2 px-4 min-w-[120px] text-center rounded-lg bg-[#dadfe5] border-none text-slate-400 font-bold">Classic</div>
      </div>

      <h1 class="font-bold">Mô tả</h1>
      <h1 class="py-4">iPhone 14 Pro có sự cải thiện lớn màn hình so với iPhone 13 Pro. Sự khác biệt giữ phiên bản iPhone 14 Pro 256GB và 128GB tiêu chuẩn chỉ là bộ nhớ trong. Dưới đây là một số cải tiến nổi bật trên iPhone 14 Pro mà có thể bạn chưa biết!
        Mời bạn tìm hiểu thêm về phiên bản iPhone 14 Pro 128GB với nhiều chương trình khuyến mãi tại CellPhoneS!
        Kích thước màn hình iPhone 14 Pro vẫn là 6.1 inch tuy nhiên phần “tai thỏ” đã được thay thế bằng một đường cắt hình viên thuốc. Apple gọi đây là Dynamic Island - nơi chứa camera Face ID và một đường cắt hình tròn thứ hai cho camera trước.
        Ngoài ra, iPhone 14 Pro có tính năng màn hình luôn bật hoạt động (Always-on Display) với tiện ích màn hình khóa mới trên iOS 16. Người dùng có thể xem các thông tin như lời nhắc, sự kiện lịch và thời tiết mà không cần bật máy lên để xem. Thậm chí, có một trạng thái ngủ cho hình nền, trạng thái này sẽ làm tối hình nền để sử dụng ít pin hơn.
        iPhone 14 Pro được trang bị bộ vi xử lý Apple A16 Bionic. Apple đã tập trung vào hiệu quả sử dụng năng lượng, màn hình và camera với con chip mới của mình. CPU sáu nhân bao gồm hai nhân hiệu suất cao sử dụng năng lượng thấp hơn 20% và bốn nhân tiết kiệm pin chỉ sử dụng một phần ba năng lượng so với chip của các đối thủ cạnh tranh</h1>
    </div>
  </div>

  <!-- Navigate -->
  <div class="h-24 w-full bg-white text-xl text-[#849bb1] shadow-inner flex p-6 fixed bottom-0">
    <div class="flex w-full justify-between font-bold">
      <div class="flex text-center border-2 border-blue-500 text-blue-500 px-4 text-lg h-full rounded-lg">
        <i class="fa-solid fa-phone my-auto mr-2"></i>
        <h1 class="my-auto min-w-[80px]">Liên lạc</h1>
      </div>

      <div class="flex text-center text-white bg-[#e74d4d] text-lg px-4 w-full h-full rounded-lg ml-2">
        <i class="fa-sharp fa-solid fa-cart-shopping my-auto mr-2"></i>
        <h1 class="my-auto">Thêm vào giỏ</h1>
      </div>
    </div>
  </div>
</div>