<div>
  <!-- Nav -->
  <div class="h-16 w-full text-xl text-[#849bb1] flex justify-between px-6">
    <div class="my-auto">
      <i class="fa-solid fa-chevron-left"></i>
    </div>

    <div class="my-auto font-bold text-black">
      <h1>iPhone 14</h1>
    </div>

    <div class="flex my-auto">
      <i class="fa-solid fa-filter"></i>
      <i class="fa-solid fa-table-cells ml-3"></i>
    </div>
  </div>

  <div class="flex px-6 text-[#849bb1] shadow-lg pb-2">
    <div class="relative w-full">
      <div class="py-2 border-[1px] border-slate-600 pl-10 rounded-lg w-full">
        <input type="text" placeholder="Information" class="outline-none">
      </div>

      <i class="fa-solid fa-magnifying-glass absolute text-red-500 top-4 left-3"></i>
    </div>

    <i class="fa-solid fa-arrow-up-wide-short text-xl my-auto ml-2"></i>
  </div>

  <!-- Main -->
  <div class="px-6 py-4 bg-[#fcf8f7]">
    <div class="grid grid-cols-2 gap-4">
      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

      <div class="p-2 rounded-lg bg-white shadow-md relative">
        <div class="w-full">
          <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/_/e/_en-iphone-14-pro.png" alt="">
        </div>

        <h1>iPhone 14 Pro</h1>

        <div class="flex justify-between">
          <div class="mt-2 font-bold">
            <h1 class="text-red-600">1.000.000đ</h1>
            <del class="text-[#849bb1]">1.000.000đ</del>
          </div>

          <div class="flex absolute bottom-3 right-2 bg-red-600 text-white p-2 rounded-xl">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>